body {
font-family:Helventica, Arial;
font-size:12px;
}

.clear: {
clear:left;
}

#logo {
padding-top:0;
}

.textblob {
border:solid 1px #EEe;
width:100%;
height:100%;
overflow:auto;
}

.textbox {
border:solid 1px #EEe;
width:100%;
height:100px;
overflow:auto;
}

#send {
color:#FFF;
background-color:#282;
border:1px solid #000;
}

#send:hover {
background-color:#2A2;
}

#reload {
color:#FFF;
background-color:#882;
border:1px solid #000;
}

#reload:hover {
background-color:#AA2;
}

#reload:disabled {
background-color:#CCC;
border:1px solid grey;
}

pre {
outline:1px solid #ccc;
overflow:auto;
margin:5px;
padding:5px;
}

.string {
color:#B5BD68;
}

.number {
color:#D54E53;
}

.boolean {
color:#D5D8D6;
}

.null {
color:#969896;
}

.key {
color:#70C0B1;
}

form {
background-color:#fff;
border:1px solid #ccc;
overflow:hidden;
padding-top:12px;
}

input:disabled,.disabled {
display:none;
}